@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

b {
  font-weight: 500;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
